.principal{
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    
}
